.metodos{
    border: black solid 1px;
    width: 100px;
    height: 300px;
    margin: 20px 50px;
    display: inline-table;
    background-color:darkgrey;
    opacity: 90%;
    border-radius: 10px 0 10px 0;
}
#parrafo{
    text-align: center;
    margin: 0 10px;
}
#musica{
    width: 80px;
    height: auto;
    margin: 10px auto;
    white-space: normal;   
}
#Texto{
    margin: 20px auto;
    width: 700px;
    border: black solid 1px;
    border-style: dashed;
    text-align: center;
    background-color:darkgrey;
}
.Button{
 width: 90px;
 margin: 10px;
 display: block;
 border-radius: 4px;
}
.Button:hover{
    background-color: black;
    opacity: 80%;
    color: blanchedalmond;
}

audio{
    width: 250px;
    height: 20px;
    margin: 100px 1000px;
    padding: 0%;  
}

#html{
    overflow: hidden;
}